<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
                <h2>Welkom op LeaseCalc!</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                    LeaseCalc(tm) is een tool om je loonstrookje te berekenen voor je nieuwe leaseauto, zodat je weet
                    hoe veel je netto overhoud. Hiervoor dien je eerst enkele gegevens in te voeren, te vinden onder <a class="link"
                        routerLink="data">deze pagina</a>.
                    Hierna kun je op <a class="link" routerLink="bereken">deze pagina</a> de fiscale waarde en het leasebedrag
                    invoeren van je leaseauto. Vervolgens wordt je loonstrookje getoond!
                </p>
            </div>
        </div>
    </div>
</div>